.header {
    text-transform: uppercase;
    text-align: center;
    padding: 32px;
    color: #fff;
    background-color: #0a0a23;
    border-bottom: 4px solid #fbd347;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 10px;
    gap: 16px;
    background-image: url(greenleaf.jpg);
    background-size: cover;
    background-position: center;

}
.gallery img {
    width: 100%;
    background-size: cover;
    max-width: 350px;
    height: 300px;
    border-radius: 10px;
}
.gallery::after {
    content: "";
    width: 350px;
}